{% extends 'base.html' %} <!--상속하기로 했으면 오버로딩 안할 때 다 기본으로 쓰게 됨-->
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="my-3">
        {{ form.csrf_token }}
        {% if form.errors %} <!-- form 내에 에러가 포함되어 있다면 에러 메세지-->
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %} 
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div> 
        {% endif %}
        <div class="form-group">
        <div class="mb-3"> <!-- 제목 그룹 -->
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                value="{{ form.subject.data or ''}}">
        </div>
        <div class="mb-3"> <!-- 내용 그룹 -->
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or ''}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}


